<!DOCTYPE html>
{% load bootstrap3 %}

<html>
    <head>
        <title>{{ site_title|default:"Django App" }}</title>

        <!--JQuery is required by Bootstrap-->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        {% block navigation %}
            {% include 'polls/navigation.html' %}
        {% endblock %}

        <div class="content container">
            <div class="row">

                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
