{% extends 'polls/base.html' %}

{% block content %}
    {% if question is not None %}
        <h1>{{ question.question_text }}</h1>

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}

            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice"
                    id="choice{{ forloop.counter }}" value="{{ choice.id}}" />
                <label for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
                <br />
            {% endfor %}

            <input class="btn btn-primary" type="submit" value="Vote" />
        </form>

        {% if error_message %}
            <div class="alert alert-warning">
                <strong>Warning!</strong> {{ error_message }}
            </div>
        {% endif %}
    {% elif all_answered %}
        <p>
            You've answered all questions.
            Log in as a new guest to bias the results.
        </p>
        <div class="btn-group">
            <a href="{% url 'polls:new_guest_session' %}"
               class="btn btn-primary">
                New Guest Session
            </a>
        </div>
    {% else %}
        <p>
            No questions defined. Add new questions in
            <a href="{% url 'admin:index' %}">
                Survey Admin page
            </a>.
        </p>
    {% endif %}
{% endblock %}
